/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(267, 18%, 54%);
  border-radius: 9px;
}

.resultado-busca {
  font-size: 46px;
  padding: 3rem;
  text-align: center;
  font-family: 'kanit';
}

.setas {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 8rem;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.811);
  cursor: pointer;
}

.seta {
  font-size: 50px;
}

.memes-busca {
  display: flex;
  margin: auto;
  border-radius: 5px;
  box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
}

.Descricao-b {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding-bottom: 7rem;
  background-color: rgba(128, 128, 128, 0.123);
  width: 43%;
  margin-left: 33.3rem;
  box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 0px 42px -7px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.Descricao-b .reacoes-b {
  display: flex;
  gap: 1rem;
  margin-left: 23rem;
}

.perfil-b {
  display: flex;
  align-items: center;
  margin-top: 7rem;
  color: #8875A0;
 
}

.criador-b{
  display: flex;
  align-items: center;
  
    
}
.rodape-b {
  margin-top: 5rem;
  display: flex;
  background-color: #a162f5;
  height: 10vh;
}

/* INICIO ICONES E LOGO */
.icones-roda {
  display: flex;
  align-items: center;
  gap: 10rem;
  font-size: 1.7rem;
  margin-left: 42rem;
}

/* FIM INCONES E LOGO */

.copyrite {
  display: flex;
  align-items: end;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 30rem;
}

/* FIM RODAPE */
